<section id="certifications" class="pb-10 px-6 max-w-6xl mx-auto">
  <div class="grid md:grid-cols-2 gap-6 md:gap-8">
    <app-card
      *ngFor="let certificate of visibleCertificates"
      [logo]="certificate?.institutionLogo"
      [title]="certificate?.institution"
      [subtitle]="certificate?.title"
      [date]="certificate?.startDate"
      [location]="certificate?.location"
      [description]="certificate?.summary"
      [detailLink]="'/details/certification/' + certificate?.id"
    ></app-card>
  </div>

  <div
    #scrollEndPoint
    *ngIf="certifications?.length > 2"
    class="mt-6 text-center"
  >
    <a
      (click)="toggleCertificates()"
      class="text-sm text-gray-500 dark:text-gray-400 hover:underline cursor-pointer"
    >
      {{ (showAll ? "View less" : "View more") | translate }}
    </a>
  </div>
</section>
