<section id="certifications" class="pb-10 px-6 max-w-6xl mx-auto">
  <div class="grid md:grid-cols-2 gap-6 md:gap-8">
    <app-card
      *ngFor="let certificate of certifications"
      [logo]="certificate?.institutionLogo"
      [title]="certificate?.institution"
      [subtitle]="certificate?.title"
      [date]="certificate?.startDate"
      [location]="certificate?.location"
      [description]="certificate?.summary"
      [detailLink]="'/details/certification/' + certificate?.id"
    ></app-card>
  </div>
</section>
