<app-about-section></app-about-section>

<section
  id="portofolio"
  #scrollStartPoint
  class="pt-8 md:pt-10 max-w-6xl mx-auto px-4 bg-gray-50 dark:bg-gray-900"
>
  <h2
    class="text-2xl sm:text-3xl md:text-4xl font-bold text-center text-gray-900 dark:text-white"
  >
    {{ "My Career" | translate }}
  </h2>

  <p
    class="mt-2 mb-4 md:mb-8 text-sm sm:text-base text-center text-gray-600 dark:text-gray-400"
  >
    {{ "Experience, skills, and professional journey" | translate }}
  </p>

  <!-- DESKTOP NAVBAR (Horizontal Tabs) -->
  <div
    class="hidden md:flex overflow-x-auto no-scrollbar gap-2 bg-white dark:bg-gray-800 backdrop-blur-xl px-4 py-2 rounded-xl border border-gray-200 dark:border-gray-700 shadow-md mb-5 mx-auto w-fit"
  >
    <button
      *ngFor="let tab of tabs"
      (click)="setActive(tab.key)"
      class="w-full text-left px-4 py-3 rounded-lg text-sm md:text-lg font-medium transition-all"
      [ngClass]="
        activeTab === tab.key
          ? 'btn-gradient shadow'
          : 'text-gray-700 dark:text-gray-300 border border-gray-300/50 dark:border-gray-600/40 hover:bg-gray-100 dark:hover:bg-gray-700/40'
      "
    >
      {{ tab.label | translate }}
    </button>
  </div>

  <!-- MOBILE NAVBAR (Vertical Tabs) -->
  <div
    class="flex md:hidden flex-col gap-2 bg-white dark:bg-gray-800 backdrop-blur-xl p-3 rounded-xl border border-gray-200 dark:border-gray-700 shadow-md"
  >
    <button
      *ngFor="let tab of tabs"
      (click)="setActive(tab.key)"
      class="w-full text-left px-3 py-2 rounded-lg text-sm font-medium transition-all"
      [ngClass]="
        activeTab === tab.key
          ? 'btn-gradient shadow'
          : 'text-gray-700 dark:text-gray-300 border border-gray-300/40 dark:border-gray-600/40 hover:bg-gray-100 dark:hover:bg-gray-700/40'
      "
    >
      {{ tab.label | translate }}
    </button>
  </div>

  <!-- CONTENT SECTIONS -->
  <div class="mt-6 md:mt-8">
    <div *ngIf="activeTab === 'experience'" @tabFade>
      <app-experience-section
        (requestScroll)="scrollToPointer()"
      ></app-experience-section>
    </div>

    <div *ngIf="activeTab === 'project'" @tabFade>
      <app-project-section
        (requestScroll)="scrollToPointer()"
      ></app-project-section>
    </div>

    <div *ngIf="activeTab === 'certification'" @tabFade>
      <app-certification-section
        (requestScroll)="scrollToPointer()"
      ></app-certification-section>
    </div>

    <div *ngIf="activeTab === 'education'" @tabFade>
      <app-education-section
        (requestScroll)="scrollToPointer()"
      ></app-education-section>
    </div>
  </div>
</section>
