<!-- <div
  class="min-h-screen transition-all duration-300"
  [class.mobile-preview-wrapper]="viewModeService.isMobilePreview()"
>
  <router-outlet></router-outlet>
</div> -->
<ng-container *ngIf="!viewModeService.isMobilePreview(); else mobilePreview">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #mobilePreview>
  <div class="flex justify-center py-6">
    <iframe
      src="/"
      class="w-[390px] h-[844px] rounded-3xl shadow-2xl border"
    ></iframe>
  </div>
</ng-template>

<app-floating-settings></app-floating-settings>
